################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ChatService/v16
/ChatServer/obj
/ChatService.Client/obj
*.tmp
*.cache
/ChatService.Core.Test/obj
